{% import 'macros.html' as macro%}
{%extends 'base.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
   
    {%block content %}
    <h2 align="center">Please select a news source of choice</h2>
    <h3>General News</h3>
    <div class="row">
    <div class="col-md-12">
    {{macro.displayList(general)}}
    </div>
</div>

<div class="col-md-12">
    <h3>Business News</h3>
    {{macro.displayList(business)}}
    </div>
</div>
<div class="col-md-12">
    <h3>Sports News</h3>
    {{macro.displayList(sports)}}
    </div>
</div>
    
    {%endblock%}
</body>
</html>