{% macro displayList(source_response_list)%}

    {%for source in source_response_list%}
    <div class="row col-12"style="float:right">
    
        <div class="col-sm-6">
          <div class="card text-white bg-warning" style="width: 18rem;">
            <div class="card-body">
              <h3 class="card-title">{{source.name|truncate(10)}}</h3>
              
              <a href="{{source.url}}">{{source.url}}</a>
              <a href="#" class="btn btn-primary">Read Articles</a>
            </div>
          </div>
        </div>

        
        
      </div>

    {%endfor%}

{%endmacro%}